/* Centralizar o contêiner principal */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Definir o contêiner principal */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
  }
  
  /* Estilos adicionais para o conteúdo */
  .number-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .number-buttons > div {
    margin: 5px;
  }
  
  /* Estilos para os botões */
  .btn-default {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-selected {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Remover marcadores de lista */
  .no-bullets {
    list-style: none;
    padding: 0;
  }
  
  /* Tornar tabelas e listas responsivas */
  .list-view {
    max-height: 400px; /* Defina a altura desejada */
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  